/*regole generali*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*header*/
h1{
    color: #e53170;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

/*corpo principale*/
#text{
    text-align: center;
    margin-top: 50px;
    text-align: justify;
    text-align-last: center;
}

.card{
    background-color: black;
    width: calc(96% / 3);
    height: 120px;
    float: left;
    margin-top: 50px;
    box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.43);
}

.laura, .roberto{
    margin: 50px 2% 0;
}

img{
    height: 100%;
    float: left;
    margin-right: 20px;
}

.contact{
    margin: 4% 0;
}

h3{
    color: white;
    margin-bottom: 3%;
}

.job{
    color: white;
    margin-bottom: 3%;
}

a{
    color: #4dccf2;
    text-decoration: none;
}